################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/PubSubContract/bin/Debug
/PubSubContract/bin/Debug
/PubSubContract/obj/Debug
